<body>
          <section class="about" id="about">
                    <div class="aboutText">
                        <h1>About me</h1>
                        <p>
                            Hi! I'm a student in school<br />
                            called Baltaci fascinated by <br />the world of IT. I'm just starting out, <br />but I'm eager to learn and grow my skills. <br />
                            I am mainly using programming language C#. <br />
                            This portfolio is a collection of my projects <br />so far, giving you a peek at my journey in IT
                        </p>
                        <div class="hireMe-container">
                            <a href="#contact">
                                <button class="hireMe">Hire me</button>
                            </a>
                        </div>
                    </div>
          
                    <div class="aboutImg">
                        <img src="images/about-img.jpg">
                    </div>
                </section>
          </body>
