<footer>
          <div class="footer-content">
              <h2 class="footer-logo">Jana Bočková</h2>
              <ul class="footer-links">
                  <li><a href="#main">Home</a></li>
                  <li><a href="AboutPage">About me</a></li>
                  <li><a href="ProjectPage">Projects</a></li>
                  <li><a href="ContactPage">Contact me</a></li>
              </ul>
              <div class="footer-button">
                  <a href=''>Home</a>
              </div>
          </div>
          <div class="social-icons" id="contact">
              <i class="social-icon"><img src="assets/images/igicon.png" alt="igicon" /> </i>
              <i class="social-icon"><img src="assets/images/facebookicon.png" alt="fbicon" /></i>
              <i class="social-icon"><img src="assets/images/limkedinicon.png" alt="linkeinicon" /></i>
              <i class="social-icon"><img src="assets/images/github-mark-white.png" alt="giticon" /></i>
          </div>
          <div class="footer-line"></div>
          <p class="footer-copyright">&copy;2024 All Rights Served</p>
      </footer>
