
<section class="main" id="main">
          <div class="text">
              <p>Welcome to my portfolio</p>
              <h2>Hi, I am Jane</h2>
              <p>
                  Hi! I'm a student fascinated by the world of IT.<br />
                  I'm just starting out, but I'm eager to learn
              </p>
              <div class="buttons-container">
                  <div class="contactbuttons">
                      <a href="contact">Contact me</a>
                  </div>
                  <div class="projectsbuttons">
                      <a routerLink="projects">My projects</a>
                  </div>
              </div>
          </div>
          <div class="image">
              <img src="assets/images/main-img.jpg">
          </div>
        
          <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/TextPlugin.min.js"></script>
     
      </section>
   
   
